
title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

input {
    
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #add8e6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/*hi*/
button:hover {
    background-color: #87ceeb;
}

#chat {
    border: 1px solid #ccc;
    padding: 10px;
    height: 300px;
    overflow-y: scroll;
    margin-bottom: 10px;
    border-radius: 5px;
    overflow-y: auto;
}
#chat-input {
    display: flex;
    gap: 10px;

}

#chat-input input {
    flex: 1;
}