/*********** header *************/
header {
    background-color: #4B9CD3;
    display: flex;
    width:100%;
    
    color: white;
    align-items: center;
    
    gap:5px;

    padding-left: 1%;
    padding-top: 20px;
    padding-bottom: 20px;


    font-family: Arial;
    font-size: 20px;

    #logo {
        border-radius: 80%;
        width: 75px;
        height: 75px; 
    }
}
.verticalLine {
    border-left: solid white;
    padding-left: 10px;
    padding-right:2px;
    height:40px;
    display:flex;
    align-items: center;
    font-size:18px;
}


/*********** body *************/
body {
    background-color: #add8e6;
    margin:0;
    padding:0;
}
input[type="submit"] {
    display: inline-block; 
    padding: 10px 20px; 
    background-color: #add8e6; 
    color: white; 
    text-align: center; 
    text-decoration: none; 
    border: none; 
    border-radius: 5px;
    cursor: pointer; 
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: black; 
}

input[type="text"], input[type="email"] {
    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    height: 20px;
    width: 250px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 1px 1px 8px rgba(110, 157, 173, 0.2);
    margin-bottom: 10px;
}

label {
    display: block;
    font-family: "Gaegu", cursive;
    font-weight: lighter;

}
input[type="submit"] {
    display: inline-block; 
    padding: 10px 20px; 
    background-color: #add8e6; 
    color: white; 
    text-align: center; 
    text-decoration: none; 
    border: none; 
    border-radius: 5px;
    cursor: pointer; 
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #284b63;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
h1 {
    font-family: "Gaegu", cursive;
    font-weight: lighter;
}


/** button **/
.btn-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4B9CD3;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
}

.btn-link:hover {
    background-color: #13294B;
}