/*********** header *************/
header {
    background-color: #4B9CD3;
    display: flex;
    width:100%;
    
    color: white;
    align-items: center;
    
    gap:5px;

    padding-left: 1%;
    padding-top: 20px;
    padding-bottom: 20px;


    font-family: Arial;
    font-size: 20px;

    #logo {
        border-radius: 80%;
        width: 75px;
        height: 75px; 
    }
}

.verticalLine {
    border-left: solid white;
    padding-left: 10px;
    padding-right:2px;
    height:40px;
    display:flex;
    align-items: center;
    font-size:18px;
}

/*********** footer *************/
footer {
    background-color:#4B9CD3;
    color: white;
    display:flex;
    justify-content: center;
    padding: 20px;
    width:100%;

}
.footer-icons a {
    color: white;
    font-size: 30px;
    margin: 20px;
}

.footer-icons a:hover {
    color:#13294B;
}

.footer-icons a.active {
    color:#13294B;
}



/*********** body *************/
body {
    margin: 0px;
    padding: 0px;
    
}

h2 {
    display:flex;
    justify-content: center;
}

.card {
    display:flex;
    width:30%;

    margin:0 auto;
    padding:0.5%;
    justify-content: center;
    align-items: center;
    gap:20px;

    background-color: #f0f0f0;
    cursor:pointer;
    
}

.card:hover {
    background-color: #a3bfd2;
}

.card-link {
    text-decoration: none;
    color: inherit;
    display: block;
    width:100%;
}

hr{
    color:white;
    width:30%;
}

a {
    color:black;
    text-decoration: none;
}

img {
    border-radius: 50%;
    border:4px solid white;
    /* border-color:#; */
    height:75px;
    width:75px;
    justify-content: center;
}