{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href = "{{ url_for('static', filename='style.css')}}" />
<title>Task</title>
{% endblock %}

{% block body %}
<h1>Hello</h1>
{% endblock %}
git 

{% block footer %} 
<div class = "footer-icons">
        <a href = "#"><i class = "fa-regular fa-house"></i></a>
        <a href = "#" class = "active"><i class = "fa-solid fa-comment"></i></a>
        <a href = "#"><i class = "fa-regular fa-bell"></i></a>
        <a href = "#"><i class = "fa-regular fa-user"></i></a>
</div>
{% endblock%}