{% extends 'base.html' %}

{% block head %}
<title>Notifications</title>
<link rel="stylesheet" href = "{{ url_for('static', filename='matches_style.css')}}">
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,600;1,400&family=Fraunces:wght@700&display=swap" rel="stylesheet"/>
{% endblock %}


{% block body %}

{% for user in users %}
<div class="notification-card">
    <img src="{{user.profile_pic}}" alt="{{user.name}}"/>
    <div class="notification-text">
        <span class="">{{ user.name }}</span>
        <p>matched with you! </p>
    </div>
    <div class="notification-actions">
        <button class="btn-accept">Accept</button>
        <button class="btn-decline">Decline</button>
    </div>
</div>
{% endfor %}
{% endblock %}



{% block footer %} 
<div class="footer-icons">
    <a href="{{ url_for('swipe') }}"><i class="fa-regular fa-house"></i></a>
    <a href="{{ url_for('messages') }}"><i class="fa-regular fa-comment"></i></a>
    <a href="{{ url_for('matches') }}" class="active"><i class="fa-solid fa-bell"></i></a>
    <a href="{{ url_for('profile') }}"><i class="fa-regular fa-user"></i></a>
</div>
{% endblock%}

<!-- import random

@app.route('/matches')
def matches():
    db = get_db()
    all_users = db.execute('SELECT * FROM users').fetchall()
    
    # randomly pick 3-5 users to show as notifications
    num = random.randint(3, 5)
    random_matches = random.sample(list(all_users), num)
    
    return render_template('matches.html', users=random_matches) -->