{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href = "{{ url_for('static', filename='survey_style.css')}}" />
<title>Information</title>
{% endblock %}

{% block body %}
<h1>Fill out the survey!</h1>
<div class="survey-grid">
<form action="/submit_survey" method="post">
<label for="age">Age:</label>
<select id="age" name="age" aria-placeholder="Age">
    <option value="under18">Under 18</option>
    <option value="18">18</option>
    <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
</select>

    <label for="major">Major:</label>
    <div class = "container">
    <input type="text" id="major" name="major">
    
    </div>

<label for="sleep_schedule">Sleep preference?</label>
<select id = "sleep" name = "sleep">
    <option value="early_riser">Early Riser</option>
    <option value="flexible">Flexible</option>
    <option value="night_owl">Night Owl</option>
</select>
<label for ="living_preference">Living preference?</label>
<select id = "living_preferences" name = "living">
    <option value="off_campus">Off-campus</option>
    <option value="on_campus">On-campus</option>
</select>

    <label for="building_preference">Building preference:</label>
    <div class = "container">
    <input type="text" id="building_preference" name="building_preference">
    
    </div>


    <label for="rent_min">Rent Min:500 - 1000</label>
    <div class = "container">
    <input type="text" id="rent_min" name="rent_min">
    
    </div>


    <label for="rent_max">Rent Max:500 - 1000</label>
    <div class = "container">
    <input type="text" id="rent_max" name="rent_max">
    
    </div>


    <label for="cleanliness">Cleanliness: 1-5</label>
    <div class = "container">
    <input type="text" id="cleanliness" name="cleanliness">
    
    </div>


    <label for="num_bedrooms">Number of Bedrooms: 1-5</label>
    <div class = "container">
    <input type="text" id="num_bedrooms" name="num_bedrooms">
    
    </div>


    <label for="num_bathrooms">Number of Bathrooms: 1-5</label>
    <div class = "container">
    <input type="text" id="num_bathrooms" name="num_bathrooms">
    
    </div>

    
    <label for="bio">Bio:</label>
    <div class = "container">
    <textarea id="bio" name="bio"></textarea>
    
    </div>

    <!-- <input type="submit" value = "See Matches!"> -->
    <a href = "{{ url_for('swipe')}}" class = "btn-link">See Matches!</a>
</form>

{% endblock %}